<component name="libraryTable">
  <library name="mybatis-spring-1.2.4">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mybatis-spring-1.2.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mybatis-3.2.8.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>